# Docker
*.env
*.env.*
docker-compose.override.yml

# Logs et fichiers temporaires
*.log
*.lock
.DS_Store

# PostgreSQL
db_data/

# IDE pycharm
*.idea

# Python virtual environment
app/FCUP_backend_dev_venv/

# Caches Python
__pycache__/
*.pyc

